body {margin: 0;
    height: 100%;}
#flex-container {display: flex;}
#upperTitle {background-color: #e1e8db;}
#chooseVer {background-color: antiquewhite;}
#userInput {background-color: bisque;}
#resultOutput {background-color: thistle;
                display: none;}
#resultComment {background-color: #fbe4f2;
                border-radius: 2vw;
                border: 4px solid #f6c267;}
#resultGuide {background-color:rgb(240, 219, 246);
                border-radius: 2vw;
                border: 4px solid #f6c267;}
#resultScore {background-color: moccasin;
                display:inline-block;
                border-radius: 2vw;
                border: 4px solid #f6c267;}
#retryButton {display: none;
                position: fixed;
                bottom: 0;}
.allImageBox {position: relative;}
.eevelutionAll {border-radius: 50%;
                display: block;
                max-width: 100%;}
.allImageBox .eevelutionAll {
                position: absolute;
                top: 35%;
                left: 35%;}
#otherEevee {display: none;
            background-color:rgb(242, 223, 240);
            border-radius: 2vw;
            border: 4px solid #f6c267;}
#realFinalOthers {display: flex;}
.otherBlank {padding-left: 20px;}
#eevee {border: 5px solid #f6c267;}
#espeon {border: 5px solid #fbe4f2;}
.allImageBox #espeon {animation: esp 15s infinite linear;}
#umbreon {border: 5px solid #5e6b6c;}
.allImageBox #umbreon {animation: umb 15s infinite linear;}
#vaporeon {border: 5px solid #9cd4ea;}
.allImageBox #vaporeon {animation: vap 15s infinite linear;}
#jolteon {border: 5px solid #fef06d;}
.allImageBox #jolteon {animation: jol 15s infinite linear;}
#flareon {border: 5px solid #f49e63;}
.allImageBox #flareon {animation: fla 15s infinite linear;}
#leafeon {border: 5px solid #7fdc9e;}
.allImageBox #leafeon {animation: lea 15s infinite linear;}
#glaceon {border: 5px solid #65c4dc;}
.allImageBox #glaceon {animation: gla 15s infinite linear;}
#sylveon {border: 5px solid #ffaec0;}
.allImageBox #sylveon {animation: syl 15s infinite linear;}
.enterButton {padding: 14px 40px;
            border-radius: 8px;
            background-color: #edf2f2;
            border: 2px solid #b8cccb;
            transition-duration: 0.4s;
            margin-left: 60%;}
.flexButton {display: flex;}
.recommendButton {padding: 14px 40px;
            border-radius: 8px;
            background-color: #edf2f2;
            border: 2px solid #b8cccb;
            transition-duration: 0.4s;
            margin-left: 5%;}
#anotherButton {display: none;}
.enterButton:hover {background-color: #b8cccb;}
.recommendButton:hover {background-color: #b8cccb;}
#calcVer {font-size: 15px;}
.middleImage {display: block;
                margin-left: auto;
                margin-right: auto;}
@media (min-width: 200px) and (max-width: 768px){
    body {width: auto;
            font-size: 4vw;}
    .allImageBox {height: 0;
                    padding-bottom: 100%;}
    #flex-container {flex-direction: column;}
    .eevelutionAll {width: 25vw;
                        height: auto;}
    .inputButton {padding: 1.2vw 3vw;
                    border-radius: 8px;}
    .subInputButton {padding: 1.2vw 3vw;
        border-radius: 8px;}
    #retryButton.enterButton {margin-right: auto;}
    .fixedButton {width: 100%;}
    .explain {font-size: 3vw;}
    .otherNameBlank {margin-bottom: 1vw;}
    @keyframes umb {
        0% {
            transform: rotate(0deg) 
                translateX(34vw) rotate(0deg);
        }
    
        100% {
            transform: rotate(-360deg) 
                translateX(34vw) rotate(360deg);
        }
    }
    @keyframes lea {
        0% {
            transform: rotate(0deg) 
                translateY(34vw) rotate(0deg);
        }
    
        100% {
            transform: rotate(-360deg) 
                translateY(34vw) rotate(360deg);
        }
    }
    @keyframes vap {
        0% {
            transform: rotate(0deg) 
                translateX(-34vw) rotate(0deg);
        }
    
        100% {
            transform: rotate(-360deg) 
                translateX(-34vw) rotate(360deg);
        }
    }
    @keyframes jol {
        0% {
            transform: rotate(0deg) 
                translateY(-34vw) rotate(0deg);
        }
    
        100% {
            transform: rotate(-360deg) 
                translateY(-34vw) rotate(360deg);
        }
    }
    @keyframes gla {
        0% {
            transform: rotate(0deg) 
                translateX(24.04vw) translateY(24.04vw) rotate(0deg);
        }
    
        100% {
            transform: rotate(-360deg) 
                translateX(24.04vw) translateY(24.04vw) rotate(360deg);
        }
    }
    @keyframes esp {
        0% {
            transform: rotate(0deg) 
                translateX(24.04vw) translateY(-24.04vw) rotate(0deg);
        }
    
        100% {
            transform: rotate(-360deg) 
                translateX(24.04vw) translateY(-24.04vw) rotate(360deg);
        }
    }
    @keyframes syl {
        0% {
            transform: rotate(0deg) 
                translateX(-24.04vw) translateY(24.04vw) rotate(0deg);
        }
    
        100% {
            transform: rotate(-360deg) 
                translateX(-24.04vw) translateY(24.04vw) rotate(360deg);
        }
    }
    @keyframes fla {
        0% {
            transform: rotate(0deg) 
                translateX(-24.04vw) translateY(-24.04vw) rotate(0deg);
        }
    
        100% {
            transform: rotate(-360deg) 
                translateX(-24.04vw) translateY(-24.04vw) rotate(360deg);
        }
    }
}
@media (min-width: 769px){
    body {padding-left: 5%;
            width: 750px;}
    .allImageBox {height: 640px;}
    #flex-container {flex-direction: row;}
    .boxForScore {text-align: center;}
    .inputButton {border-radius: 8px;}
    .subInputButton {border-radius: 8px;}
    .fixedButton {width: 750px;}
    #retryButton.enterButton {margin-left: 500px;}
    @keyframes umb {
        0% {
            transform: rotate(0deg) 
                translateX(200px) rotate(0deg);
        }
    
        100% {
            transform: rotate(-360deg) 
                translateX(200px) rotate(360deg);
        }
    }
    @keyframes lea {
        0% {
            transform: rotate(0deg) 
                translateY(200px) rotate(0deg);
        }
    
        100% {
            transform: rotate(-360deg) 
                translateY(200px) rotate(360deg);
        }
    }
    @keyframes vap {
        0% {
            transform: rotate(0deg) 
                translateX(-200px) rotate(0deg);
        }
    
        100% {
            transform: rotate(-360deg) 
                translateX(-200px) rotate(360deg);
        }
    }
    @keyframes jol {
        0% {
            transform: rotate(0deg) 
                translateY(-200px) rotate(0deg);
        }
    
        100% {
            transform: rotate(-360deg) 
                translateY(-200px) rotate(360deg);
        }
    }
    @keyframes gla {
        0% {
            transform: rotate(0deg) 
                translateX(141.42px) translateY(141.42px) rotate(0deg);
        }
    
        100% {
            transform: rotate(-360deg) 
                translateX(141.42px) translateY(141.42px) rotate(360deg);
        }
    }
    @keyframes esp {
        0% {
            transform: rotate(0deg) 
                translateX(141.42px) translateY(-141.42px) rotate(0deg);
        }
    
        100% {
            transform: rotate(-360deg) 
                translateX(141.42px) translateY(-141.42px) rotate(360deg);
        }
    }
    @keyframes syl {
        0% {
            transform: rotate(0deg) 
                translateX(-141.42px) translateY(141.42px) rotate(0deg);
        }
    
        100% {
            transform: rotate(-360deg) 
                translateX(-141.42px) translateY(141.42px) rotate(360deg);
        }
    }
    @keyframes fla {
        0% {
            transform: rotate(0deg) 
                translateX(-141.42px) translateY(-141.42px) rotate(0deg);
        }
    
        100% {
            transform: rotate(-360deg) 
                translateX(-141.42px) translateY(-141.42px) rotate(360deg);
        }
    }
}
